.color-white {
    color: #fff;
  }
  .bg-color-white {
    background-color: #fff;
  }
  .color-light-white {
    color: #fcfcfc;
  }
  .bg-color-light-white {
    background-color: #fcfcfc;
  }
  .color-grey-whisper {
    color: #eee;
  }
  .bg-color-grey-whisper {
    background-color: #eee;
  }
  .color-gallery {
    color: #eee;
  }
  .bg-color-gallery {
    background-color: #eee;
  }
  .color-grey-snow {
    color: #f9f9f9;
  }
  .bg-color-grey-snow {
    background-color: #f9f9f9;
  }
  .color-grey-summary {
    color: #fbfbfb;
  }
  .bg-color-grey-summary {
    background-color: #fbfbfb;
  }
  .color-grey-snow-dark {
    color: #f8f8f8;
  }
  .bg-color-grey-snow-dark {
    background-color: #f8f8f8;
  }
  .color-concrete {
    color: #f2f2f2;
  }
  .bg-color-concrete {
    background-color: #f2f2f2;
  }
  .color-sugar-cane {
    color: #eeeceb;
  }
  .bg-color-sugar-cane {
    background-color: #eeeceb;
  }
  .color-grey-line-light {
    color: #eaeaea;
  }
  .bg-color-grey-line-light {
    background-color: #eaeaea;
  }
  .color-grey-line {
    color: #e8e8e8;
  }
  .bg-color-grey-line {
    background-color: #e8e8e8;
  }
  .color-grey-border {
    color: #d8d8d8;
  }
  .bg-color-grey-border {
    background-color: #d8d8d8;
  }
  .color-grey-gainsboro-dark {
    color: #dedede;
  }
  .bg-color-grey-gainsboro-dark {
    background-color: #dedede;
  }
  .color-facebook-light {
    color: #e5eafb;
  }
  .bg-color-facebook-light {
    background-color: #e5eafb;
  }
  .color-silver {
    color: #cac6c6;
  }
  .bg-color-silver {
    background-color: #cac6c6;
  }
  .color-white-smoke {
    color: #f3f3f3;
  }
  .bg-color-white-smoke {
    background-color: #f3f3f3;
  }
  .color-grey-linedark {
    color: #cfcfcf;
  }
  .bg-color-grey-linedark {
    background-color: #cfcfcf;
  }
  .color-grey-gainsboro {
    color: #e2e2e2;
  }
  .bg-color-grey-gainsboro {
    background-color: #e2e2e2;
  }
  .color-very-light-grey {
    color: #ccc;
  }
  .bg-color-very-light-grey {
    background-color: #ccc;
  }
  .color-snow {
    color: #fafafa;
  }
  .bg-color-snow {
    background-color: #fafafa;
  }
  .color-grey-filter {
    color: #e6e6e6;
  }
  .bg-color-grey-filter {
    background-color: #e6e6e6;
  }
  .color-black-filter {
    color: #000;
  }
  .bg-color-black-filter {
    background-color: #000;
  }
  .color-grey-filter-icon {
    color: #979797;
  }
  .bg-color-grey-filter-icon {
    background-color: #979797;
  }
  .color-grey-breadcrum {
    color: #969696;
  }
  .bg-color-grey-breadcrum {
    background-color: #969696;
  }
  .color-grey-silver {
    color: #c6c6c6;
  }
  .bg-color-grey-silver {
    background-color: #c6c6c6;
  }
  .color-grey-silver-light {
    color: #d6d6d6;
  }
  .bg-color-grey-silver-light {
    background-color: #d6d6d6;
  }
  .color-line-default {
    color: #eee;
  }
  .bg-color-line-default {
    background-color: #eee;
  }
  .color-grey-text {
    color: #c6c6c6;
  }
  .bg-color-grey-text {
    background-color: #c6c6c6;
  }
  .color-mint {
    color: #e6fae9;
  }
  .bg-color-mint {
    background-color: #e6fae9;
  }
  .color-grey-disabled {
    color: #d4d4d4;
  }
  .bg-color-grey-disabled {
    background-color: #d4d4d4;
  }
  .color-light-grey {
    color: #d9d9d9;
  }
  .bg-color-light-grey {
    background-color: #d9d9d9;
  }
  .color-carrousel-grey {
    color: #979797;
  }
  .bg-color-carrousel-grey {
    background-color: #979797;
  }
  .color-grey-very-light {
    color: #cacaca;
  }
  .bg-color-grey-very-light {
    background-color: #cacaca;
  }
  .color-grey-mobile-checkout {
    color: #cacac9;
  }
  .bg-color-grey-mobile-checkout {
    background-color: #cacac9;
  }
  .color-silver-chalice {
    color: #ababab;
  }
  .bg-color-silver-chalice {
    background-color: #ababab;
  }
  .color-grey-charcoal {
    color: #ababab;
  }
  .bg-color-grey-charcoal {
    background-color: #ababab;
  }
  .color-grey-charcoal-dark {
    color: #a7a7a7;
  }
  .bg-color-grey-charcoal-dark {
    background-color: #a7a7a7;
  }
  .color-small-grey {
    color: #b8b8b8;
  }
  .bg-color-small-grey {
    background-color: #b8b8b8;
  }
  .color-grey-carrousel {
    color: #c4c4c4;
  }
  .bg-color-grey-carrousel {
    background-color: #c4c4c4;
  }
  .color-pink-swan {
    color: #b6b6b6;
  }
  .bg-color-pink-swan {
    background-color: #b6b6b6;
  }
  .color-box-border-color {
    color: #999;
  }
  .bg-color-box-border-color {
    background-color: #999;
  }
  .color-nobel {
    color: #949494;
  }
  .bg-color-nobel {
    background-color: #949494;
  }
  .color-grey-little {
    color: #9b9b9b;
  }
  .bg-color-grey-little {
    background-color: #9b9b9b;
  }
  .color-grey-little-primary {
    color: #999;
  }
  .bg-color-grey-little-primary {
    background-color: #999;
  }
  .color-grey-line-dark {
    color: #979797;
  }
  .bg-color-grey-line-dark {
    background-color: #979797;
  }
  .color-grey-medium {
    color: #777;
  }
  .bg-color-grey-medium {
    background-color: #777;
  }
  .color-dim-gray {
    color: #717171;
  }
  .bg-color-dim-gray {
    background-color: #717171;
  }
  .color-dim-gray-2 {
    color: #747474;
  }
  .bg-color-dim-gray-2 {
    background-color: #747474;
  }
  .color-grey-matterhorn {
    color: #505050;
  }
  .bg-color-grey-matterhorn {
    background-color: #505050;
  }
  .color-grey-dark {
    color: #464646;
  }
  .bg-color-grey-dark {
    background-color: #464646;
  }
  .color-mint-dark {
    color: #8a988c;
  }
  .bg-color-mint-dark {
    background-color: #8a988c;
  }
  .color-grey-strong {
    color: #393939;
  }
  .bg-color-grey-strong {
    background-color: #393939;
  }
  .color-black {
    color: #313131;
  }
  .bg-color-black {
    background-color: #313131;
  }
  .color-black-night {
    color: #2d2d2d;
  }
  .bg-color-black-night {
    background-color: #2d2d2d;
  }
  .color-logo-dark {
    color: #181818;
  }
  .bg-color-logo-dark {
    background-color: #181818;
  }
  .color-gray-rgb {
    color: #313131;
  }
  .bg-color-gray-rgb {
    background-color: #313131;
  }
  .color-default-text {
    color: #000;
  }
  .bg-color-default-text {
    background-color: #000;
  }
  .color-black-pure {
    color: #000;
  }
  .bg-color-black-pure {
    background-color: #000;
  }
  .color-black-opaque {
    color: rgba(0, 0, 0, 0.6);
  }
  .bg-color-black-opaque {
    background-color: rgba(0, 0, 0, 0.6);
  }
  .color-black-active {
    color: #242424;
  }
  .bg-color-black-active {
    background-color: #242424;
  }
  .color-grey-light {
    color: #e5e5e5;
  }
  .bg-color-grey-light {
    background-color: #e5e5e5;
  }
  .color-grey-light-2 {
    color: #f6f6f6;
  }
  .bg-color-grey-light-2 {
    background-color: #f6f6f6;
  }
  .color-grey-medium-2 {
    color: #7a7a7a;
  }
  .bg-color-grey-medium-2 {
    background-color: #7a7a7a;
  }
  .color-grey-medium-3 {
    color: #dadada;
  }
  .bg-color-grey-medium-3 {
    background-color: #dadada;
  }
  .color-grey-medium-4 {
    color: #ececeb;
  }
  .bg-color-grey-medium-4 {
    background-color: #ececeb;
  }
  .color-grey-medium-5 {
    color: #d1d1d1;
  }
  .bg-color-grey-medium-5 {
    background-color: #d1d1d1;
  }
  .color-grey-status {
    color: #dbdbdb;
  }
  .bg-color-grey-status {
    background-color: #dbdbdb;
  }
  .color-red {
    color: #e83c55;
  }
  .bg-color-red {
    background-color: #e83c55;
  }
  .color-radical-red {
    color: #ff496a;
  }
  .bg-color-radical-red {
    background-color: #ff496a;
  }
  .color-pink {
    color: #fc5b58;
  }
  .bg-color-pink {
    background-color: #fc5b58;
  }
  .color-error {
    color: #e83c55;
  }
  .bg-color-error {
    background-color: #e83c55;
  }
  .color-error-hover {
    color: #ff5472;
  }
  .bg-color-error-hover {
    background-color: #ff5472;
  }
  .color-red-text {
    color: #e83c55;
  }
  .bg-color-red-text {
    background-color: #e83c55;
  }
  .color-out-of-stock {
    color: #fe2222;
  }
  .bg-color-out-of-stock {
    background-color: #fe2222;
  }
  .color-wild-watermelon {
    color: #eb586d;
  }
  .bg-color-wild-watermelon {
    background-color: #eb586d;
  }
  .color-price-added {
    color: #ec6277;
  }
  .bg-color-price-added {
    background-color: #ec6277;
  }
  .color-red-order-discount {
    color: #d64b59;
  }
  .bg-color-red-order-discount {
    background-color: #d64b59;
  }
  .color-red-status {
    color: #e04f4f;
  }
  .bg-color-red-status {
    background-color: #e04f4f;
  }
  .color-half-dutch-white {
    color: #fff3d3;
  }
  .bg-color-half-dutch-white {
    background-color: #fff3d3;
  }
  .color-warning {
    color: #f8b800;
  }
  .bg-color-warning {
    background-color: #f8b800;
  }
  .color-warning-yellow {
    color: #f8b703;
  }
  .bg-color-warning-yellow {
    background-color: #f8b703;
  }
  .color-warning-light {
    color: #f8b802;
  }
  .bg-color-warning-light {
    background-color: #f8b802;
  }
  .color-orange {
    color: #ffc000;
  }
  .bg-color-orange {
    background-color: #ffc000;
  }
  .color-selective-yellow {
    color: #f8b802;
  }
  .bg-color-selective-yellow {
    background-color: #f8b802;
  }
  .color-dark-goldenrod {
    color: #b86e00;
  }
  .bg-color-dark-goldenrod {
    background-color: #b86e00;
  }
  .color-cream-brulee {
    color: #feef8c;
  }
  .bg-color-cream-brulee {
    background-color: #feef8c;
  }
  .color-facebook {
    color: #2052df;
  }
  .bg-color-facebook {
    background-color: #2052df;
  }
  .color-facebook-btn {
    color: #234ebd;
  }
  .bg-color-facebook-btn {
    background-color: #234ebd;
  }
  .color-blue {
    color: #0b24fb;
  }
  .bg-color-blue {
    background-color: #0b24fb;
  }
  .color-blue-bright {
    color: #0000fd;
  }
  .bg-color-blue-bright {
    background-color: #0000fd;
  }
  .color-blue-not-satured {
    color: #4569d4;
  }
  .bg-color-blue-not-satured {
    background-color: #4569d4;
  }
  .color-green {
    color: #67d39e;
  }
  .bg-color-green {
    background-color: #67d39e;
  }
  .color-green-switch {
    color: #c2f5cb;
  }
  .bg-color-green-switch {
    background-color: #c2f5cb;
  }
  .color-green-light {
    color: #d0fae6;
  }
  .bg-color-green-light {
    background-color: #d0fae6;
  }
  .color-green-success {
    color: #cef3cd;
  }
  .bg-color-green-success {
    background-color: #cef3cd;
  }
  .color-green-notifications {
    color: #57dc6d;
  }
  .bg-color-green-notifications {
    background-color: #57dc6d;
  }
  .color-green-notifications-satured {
    color: #57ff7c;
  }
  .bg-color-green-notifications-satured {
    background-color: #57ff7c;
  }
  .color-ok {
    color: #6fd5a4;
  }
  .bg-color-ok {
    background-color: #6fd5a4;
  }
  .color-ok-satured {
    color: #5cc89c;
  }
  .bg-color-ok-satured {
    background-color: #5cc89c;
  }
  .color-button-checked {
    color: #6fd5a4;
  }
  .bg-color-button-checked {
    background-color: #6fd5a4;
  }
  .color-button-checked-disabled {
    color: #6ed5a4;
  }
  .bg-color-button-checked-disabled {
    background-color: #6ed5a4;
  }
  .color-button-checked-hover {
    color: #0c9;
  }
  .bg-color-button-checked-hover {
    background-color: #0c9;
  }
  .color-green-soft {
    color: #67d39f;
  }
  .bg-color-green-soft {
    background-color: #67d39f;
  }
  .color-button-to-checkout-mobile {
    color: #03cc99;
  }
  .bg-color-button-to-checkout-mobile {
    background-color: #03cc99;
  }
  .color-green-ok-rgb {
    color: #69d3a0;
  }
  .bg-color-green-ok-rgb {
    background-color: #69d3a0;
  }
  .color-button-add-to-cart-enabled-hover {
    color: #03cc99;
  }
  .bg-color-button-add-to-cart-enabled-hover {
    background-color: #03cc99;
  }
  .color-dark-sea-green {
    color: #9c9;
  }
  .bg-color-dark-sea-green {
    background-color: #9c9;
  }
  .color-medium-aquamarine {
    color: #5cc89b;
  }
  .bg-color-medium-aquamarine {
    background-color: #5cc89b;
  }
  .color-green-button {
    color: #5dc99d;
  }
  .bg-color-green-button {
    background-color: #5dc99d;
  }
  .color-green-button-active {
    color: #89d2a8;
  }
  .bg-color-green-button-active {
    background-color: #89d2a8;
  }
  .color-green-swipe {
    color: #ebffe2;
  }
  .bg-color-green-swipe {
    background-color: #ebffe2;
  }
  .color-green-status {
    color: #5cc777;
  }
  .bg-color-green-status {
    background-color: #5cc777;
  }
  .color-guide-black {
    color: #000;
  }
  .bg-color-guide-black {
    background-color: #000;
  }
  .color-guide-pale-black {
    color: #313131;
  }
  .bg-color-guide-pale-black {
    background-color: #313131;
  }
  .color-guide-ok {
    color: #5dc99d;
  }
  .bg-color-guide-ok {
    background-color: #5dc99d;
  }
  .color-guide-pale-ok {
    color: #89d2a8;
  }
  .bg-color-guide-pale-ok {
    background-color: #89d2a8;
  }
  .color-guide-orange {
    color: #ff9500;
  }
  .bg-color-guide-orange {
    background-color: #ff9500;
  }
  .color-guide-error {
    color: #d64b59;
  }
  .bg-color-guide-error {
    background-color: #d64b59;
  }
  .color-guide-pale-error {
    color: #eb586d;
  }
  .bg-color-guide-pale-error {
    background-color: #eb586d;
  }
  .color-guide-pale-grey {
    color: #dadada;
  }
  .bg-color-guide-pale-grey {
    background-color: #dadada;
  }
  .color-guide-grey {
    color: #d0d0d0;
  }
  .bg-color-guide-grey {
    background-color: #d0d0d0;
  }